@import "tailwindcss";



/* Importing Google  Inter Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Importing Google  Open Sans Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');




@theme{
    /* Fonts */

    --font-open-sans: 'Open Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;

    /* Colors */
    
    --color-background: #fef7f1;
    --color-orange-primary: #FE7642;
    --color-button-color: #284050;
    --color-gray-border: #FFFFFF73;
}

h1, h2{
    font-family: 'Open Sans', sans-serif;
}